:markdown
  A [Security Specialist](/job-families/engineering/developer) is a
  [Developer](/job-families/engineering/developer/) who focuses on ensuring
  that GitLab and associated applications are as secure as possible.
  The Security Specialist works in close collaboration with the
  [Security Lead](/job-families/engineering/security-management/).
